<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
   
    <h1>Active Tasks</h1> 
    <% if (tasks.length>0) { %>
        <% tasks.forEach(task => {%>
            <a class="single" href="/tasks/<%= task._id %>">
                <h3 class="title"><%=task.title%></h3>
                <p class="description"><%=task.description%></p>
            </a>
        <%  }) %>
    <% } else { %>
        <h3>No Active Tasks</h3>
    <% } %>
    
    
    <%- include('../partials/foot.ejs') %>
</body>
</html>