<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>  
    
    <div class="details-content">
       <h2><%= taskInfo.title%></h2>
       <div class="description-content">
           <p><%= taskInfo.description%></p>
       </div>
       <a class="delete" data-doc="<%= taskInfo._id %>">
          <img src="/trashcan.svg" alt="delete icon">
       </a>
    </div>
    <%- include('../partials/foot.ejs') %>
    <script src="/deleteFunction.js"></script>
</body>
</html>