<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <main>
        <%- include('../partials/nav.ejs') %>
        <h1>Previous Tasks</h1> 
        <div id="all-tasks">
            <% if (tasks.length>0) { %>
                <% tasks.forEach(task => {%>
                    <div class="single-p" onclick="window.location.href='/tasks/<%= task._id %>'">
                        <h3 class="title"><%= task.title%></h3>
                        <p class="description"><%= task.description%></p>
                        <button id="delete-task-btn-1p">Delete</button>
                        <button id="edit-task-btn-1p">Edit</button>
                    </div>
                <%  }) %>
            <% } else { %>
                <h3>No Previous Tasks</h3>
            <% } %>

            <button id="active-tasks-btn-p" onclick="window.location.href='/tasks/active'" >Active Tasks</button>
        </div>
        <%- include('../partials/foot.ejs') %>

    </main>
</body>
</html>